<!DOCTYPE html>
<html>
  <head>
    <title>Makers BnB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p>Feel at home, away from home</p>
    <h2>Sign up to Makers BnB</h2>
    <form id="formAddUser" name="adduser" method="post" action="/adduser">
      <input id="inputUserName" type="text" placeholder="email address" name="emailaddress" />
      <input id="inputUserEmail" type="text" placeholder="password" name="password" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
