<!DOCTYPE html>
<html>
  <head>
    <title>Makers BnB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="url">Login</a>
    <h1> <%= title %> </h1>
      <p>Feel at home, away from home</p>
    <h2>Sign up to Makers BnB</h2>
    <form id="formAddUser" name="adduser" method="post" action="/adduser">
      Email Address<br>
      <input id="inputUserEmail" type="text" name="emailaddress" />
      <br>Password<br>
      <input id="inputUserPassword" type="text" name="password" />
      <br>Password Confirmation<br>
      <input id="inputUserPasswordCon" type="text" name="passwordcon" />
      <br>
      <button id="btnSubmit" type="submit">Sign up</button>
    </form>
  </body>
</html>
